
const mu = require('../src/js/musat_grid_graph.js');

//        $(document).ready(function () {
    var main = new mu(); // this creates mu, so var main is not redundant            

//        $('html,body').scrollTop(0); // Show Documentation page from the top
//      });


<!-- TODO use grid.css-->
<style>
    #primers_grid_contents {
        display: table-cell;
        vertical-align: top;

    }

    #primers_grid_hdr {
        font-weight: bold;
    }

    #primers_grid {
        width: 12em;
        /*float: left;*/
        margin-top: 6px;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        background-color: #E7F5FE;
        border: 1px solid black;
    }

    #primers_grid_container {
        display: table-cell;
        vertical-align: top;
        /*width: 100px;*/
        padding-right: 10px;

    }

    #all_graphs {
        display: table-cell;
    }

    [id^="graph_and_labels"] {
        display: table-cell;
    }

    #graph_wrapper {
        display: table;
        white-space: nowrap;
    }

    #tip {
        background-color: white;
        border: 1px solid blue;
        position: fixed;
        left: -200px;
        top: 100px;
    }

    [id^="radioGridSelector"] {
        display: inline;
    }

    [id^="mainCanvasBackground"] {
        opacity: 0.2;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                               not supported by any browser */
    }
</style>


<body>

<div id="buttons">
    <button id="addGroup" disabled onclick="addGridGraph()">Add group</button>
    <button id="removeGroup" disabled onclick="removeGridGraph()">Remove group</button>
    <div id="gridGraphSelector" style="white-space: nowrap; display: inline;">
        <!--<input type="radio" id='radioCheckboxOriginal' name="selectGroup" value="1" checked="checked">Original</input>-->


    </div>
</div>
<div id="graph_wrapper" class="noselect">

    <div id="primers_grid_container">
        <div id="primers_grid">
            <span id="primers_grid_hdr">Locus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Called</span>
            <span id="primers_grid_contents"><br/></span>
        </div>
    </div>
    <div id="all_graphs">       
        <!--it should do this on demand. Right now, this is wasteful and can crash with more than-->
        <!--50 total creates-->
        <% for(var i=0; i<50; i++) {%>
            <div id="graph_and_labels<%=i%> " style="  vertical-align: top; padding-top: 6px; ">
              <div id="graph_container<%=i%>">
                    <div id="mainCanvasContainer<%=i%>" style="display: inline-flex; ">
                        <canvas id="mainCanvas<%=i%>" class="canvas<%=i%>" style="position:relative; ">
                        </canvas>
                        <canvas id="mainCanvasBackground<%=i%>" style="position:relative;">
                        </canvas>
                    </div>
                  <canvas id="sample_names<%=i%>" class="canvas<%=i%>" style="position:relative;">
                  </canvas>
                </div>
                <canvas id="length_labels<%=i%>" class="canvas<%=i%>">
                </canvas>
                <br>
    <canvas id="hit_bars<%=i%>" class="canvas<%=i%>">
    </canvas>
 </div>
     <% } %>
    </div>
</div>
<canvas id="tip" width=170 height=20>
</canvas>

